* {
    box-sizing: border-box;
}

html, body, #root, .App, .AppContent {
    height: 100%;
}

.App {
    position: relative;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AppHeader {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.AppHeader > * {
    transition: opacity 150ms ease-in;
    opacity: 0.5;
}

.AppHeader > *:hover {
    opacity: 1;
}

.App:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.AppContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume {
    cursor: pointer;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.countDown {
    font-size: 1.5rem;
    line-height: 1.75;
    color: #01B2C8;
    text-align: center;
    text-shadow: -1px -1px 0 #155C4A,
    1px -1px 0 #155C4A,
    -1px 1px 0 #155C4A,
    1px 1px 0 #155C4A,
    -3px -3px 3px #81C051,
    3px -3px 3px #81C051,
    -3px 3px 3px #81C051,
    3px 3px 3px #81C051;
}

.twitter {
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: normal;
    color: #fff;
    /*color: rgba(255, 255, 255, 0.5);*/
}

.twitter:hover {
    /*color: rgba(255, 255, 255, 0.8);*/
}